# When you get a few more gems in your app, especially those that
# insall native extensions, you may get failed deploys from running out
# of memory. Since, most apps can run on the free tier, and the only
# time memory is an issue is during a deploy, we will enable swap.
#
# https://hackernoon.com/how-to-setup-and-deploy-a-rails-5-app-on-aws-beanstalk-with-postgresql-redis-and-more-88a38355f1ea
commands:
  000_dd:
    command: echo “noswap”#dd if=/dev/zero of=/swapfile bs=1M count=3072
  001_mkswap:
    command: echo “noswap”#mkswap /swapfile
  002_swapon:
    command: echo “noswap”#swapon /swapfile